*
{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}
#main
{
  background:linear-gradient(100deg, white, gray);
  width:100%;
  height:;
  padding:1rem;
  box-shadow:6px 6px 6px rgba(0, 0, 0, 0.5);
}

#header
{
  width:100%;
  padding:1rem;
  box-shadow:2px 1px 6px rgba(104,104,104,0.8);
  display:flex;
  justify-content:space-between;
  border-radius:8px;
}

#header #header-img
{
  width:100px;
  height:50px;
  box-shadow:2px 1px 6px rgba(104,104,104,0.8);
  border-radius:7px;
}

#header #nav-bar
{
  box-shadow:box-shadow:2px 1px 6px rgba(104,104,104,0.8);
}
#header #nav-bar ul
{
  padding:2px;
  display:flex;
}
#header #nav-bar ul li
{
  list-style:none;
  padding:0.5rem;
  margin:0.5rem;
}
#header #nav-bar ul li a
{
  margin-left:7rem;
  font-size:20px;  
  font-weight:bold;
  text-decoration:none;
  font-style:italic;
}
#header #nav-bar ul li a:hover
{
  text-decoration:underline;
  color:white;
}

#search
{
  width:100%;
  padding:1rem;
  color:white;
}
#search h2
{
  text-align:center;
  padding:1rem;
  margin:1rem;
  text-decoration:underline overline;
}
#search .input
{
  width:100%;
  padding:1rem;
  display:flex;
  justify-content:center;
}
#search .input input
{
  padding:0.7rem;
  width:30%;
  border-radius:4px;
  font-size:16px;
}
#search .button
{
  padding:1rem;
  width:100%;
  display:flex;
  justify-content:center;
}
#search .button input
{
  padding:0.7rem;
  background:orange;
  color:white;
  border-radius:6px;
}

#products
{
  width:100%;
  padding:1rem;
  box-shadow:2px 1px 6px rgba(104,104,104,0.8);
  border-radius:8px;
}

#products .html
{
  padding:1rem;
}
#products .html i
{
  padding:1rem;
  color:orange;
}
#products .html p
{
  padding:1rem;
}
#products .html strong
{
  padding:1rem;
  font-size:20px;
}



#products .javascript
{
  padding:1rem;
}
#products .javascript i
{
  padding:1rem;
  background-color:yellow;
}
#products .javascript p
{
  padding:1rem;
}
#products .javascript strong
{
  padding:1rem;
  font-size:20px;
}


#products .node
{
  padding:1rem;
}
#products .node i
{
  padding:1rem;
  background-color:green;
}
#products .node p
{
  padding:1rem;
}
#products .node strong
{
  padding:1rem;
  font-size:20px;
}



.video
{
  width:100%;
  padding:1rem;
  margin-top:2px;
  box-shadow:2px 1px 6px rgba(104,104,104,0.8);
  border-radius:8px;
  display:flex;
  justify-content:center;
}

.video #video
{
  border-radius:7px;
}


#pricing
{
  width:100%;
  padding:1rem;
  margin-top:2px;
  box-shadow:2px 1px 6px rgba(104,104,104,0.8);
  border-radius:8px;
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  justify-items:center;
  grid-gap:1em;
}

#pricing #frontend
{
  width:100%;
  padding:1rem;
  box-shadow::2px 1px 6px rgba(104,104,104,0.8);
  border-radius:8px;
  background-color:white;
}
#pricing #frontend header
{
  background:grey;
  padding:1rem;
  border-radius:5px;
  text-align:center;
  font-weight:bold;
  font-size:20px;
}
#pricing #frontend .body
{
  padding:1rem;
  text-align:center;
  line-height:30px;
}
#pricing #frontend .footer
{
  padding:1rem;
  display:flex;
  justify-content:center;
}
#pricing #frontend .footer button
{
  padding:0.5rem;
  width:40%;
  background:orange;
  border-radius:6px;
}



#pricing #fullstack
{
  width:100%;
  padding:1rem;
  box-shadow::2px 1px 6px rgba(104,104,104,0.8);
  border-radius:8px;
  background-color:white;
}
#pricing #fullstack header
{
  background:grey;
  padding:1rem;
  border-radius:5px;
  text-align:center;
  font-weight:bold;
  font-size:20px;
}
#pricing #fullstack .body
{
  padding:1rem;
  text-align:center;
  line-height:30px;
}
#pricing #fullstack .footer
{
  padding:1rem;
  display:flex;
  justify-content:center;
}
#pricing #fullstack .footer button
{
  padding:0.5rem;
  width:40%;
  background:orange;
  border-radius:6px;
}



#pricing #backend
{
  width:100%;
  padding:1rem;
  box-shadow::2px 1px 6px rgba(104,104,104,0.8);
  border-radius:8px;
  background-color:white;
}
#pricing #backend header
{
  background:grey;
  padding:1rem;
  border-radius:5px;
  text-align:center;
  font-weight:bold;
  font-size:20px;
}
#pricing #backend .body
{
  padding:1rem;
  text-align:center;
  line-height:30px;
}
#pricing #backend .footer
{
  padding:1rem;
  display:flex;
  justify-content:center;
}
#pricing #backend .footer button
{
  padding:0.5rem;
  width:40%;
  background:orange;
  border-radius:6px;
}


#footer
{
  width:100%;
  padding:1rem;
  margin-top:7px;
  box-shadow:2px 1px 6px rgba(104,104,104,0.8);
  border-radius:8px;
  text-align:right;
  color:white;
  font-weight:bold;
}







